.footer {
   background-color: #232323;
   color: #f1f1f1;

   // .footer__title

   &__title {
      font-size: 2.2rem;
      font-weight: 700;
      color: #fff;

      margin-bottom: 2rem;
   }

   // .footer__items

   &__items {
      display: flex;
      flex-direction: column;

      margin-top: 4rem;
   }

   // .footer__item

   &__item {
      display: flex;
      justify-content: center;
   }

   // .footer__row

   &__row {
      display: flex;
      flex-direction: column;
   }

   @media (min-width: 767px) {
      &__row {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         flex-wrap: wrap;
      }
   }

   @media (min-width: 1200px) {
      &__row {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         flex: 1 1 auto;
      }
   }

   // .footer__column

   &__column {
      margin-bottom: 4rem;
   }

   @media (min-width: 767px) {
      &__column {
         display: flex;
         flex-direction: column;
         flex: 1 1 50%;
      }
   }

   @media (min-width: 1200px) {
      &__column {
         display: flex;
         flex-direction: column;
         flex: 1 1 auto;
      }
   }

   // .footer__feedback

   &__feedback {
   }

   // .footer__feedback-info

   &__feedback-info {
      display: flex;
      align-items: center;

      margin-bottom: 1rem;
   }

   // .footer__feedback-img

   &__feedback-img {
      width: 5rem;

      margin-right: 2rem;

      object-fit: cover;
   }

   // .footer__blog

   &__blog {
      display: flex;
   }

   @media (min-width: 767px) {
      &__blog {
         width: 30rem;
      }
   }

   // .footer__blog-img

   &__blog-img {
      width: 7rem;
      height: 7rem;

      border-radius: 50%;

      margin-right: 2rem;
      margin-bottom: 2rem;
   }

   // .footer__blog-info

   &__blog-info {
   }

   @media (min-width: 767px) {
      &__blog-info {
         width: 30rem;
      }
   }

   // .footer__blog-title

   &__blog-title {
   }

   // .footer__blog-date

   &__blog-date {
      opacity: 0.8;
   }

   // .footer__navbar

   &__navbar {
   }

   // .footer__navbar-items

   &__navbar-items {
   }

   // .footer__navbar-item

   &__navbar-item {
      list-style-type: square;
      color: #fff;

      margin-left: 1.5rem;
   }

   // .footer__navbar-link

   &__navbar-link {
      text-decoration: none;
      color: #f1f1f1;
   }

   // .footer__subscribe

   &__subscribe {
   }

   // .footer__subscribe-social

   &__subscribe-social {
      display: flex;
      justify-content: space-between;
   }

   // .footer__subscribe-icon

   &__subscribe-icon {
   }

   // .footer__subscribe-img

   &__subscribe-img {
      width: 7rem;
      height: 7rem;

      border-radius: 50%;
   }

   // .footer__copyright

   &__copyright {
      font-size: 1.5rem;
      font-weight: 600;

      margin: 3rem 0;
   }

   @media (min-width: 767px) {
      &__copyright {
         font-size: 2rem;
      }
   }
}
