.banner {
   display: flex;
   flex-direction: column;
   align-items: center;

   width: 100%;

   padding: 10rem 0;

   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   // .banner__about

   &__about {
      background-image: url(../img/banners/banner-about.jpg);
   }

   // .banner__experience

   &__experience {
      background-image: url(../img/banners/banner-experience.png);

      padding: 5rem 0;
   }

   // .banner__teachers

   &__teachers {
      background-image: url(../img/banners/banner-teachers.jpg);
   }

   // .banner__courses

   &__courses {
      background-image: url(../img/banners/banner-courses.jpg);
   }

   // .banner__frontend

   &__frontend {
      background-image: url(../img/courses-page/01.png);
   }

   // .banner__blog

   &__blog {
      background-image: url(../img/banners/banner-enroll.jpg);
   }

   // .banner__contact

   &__contact {
      background-image: url(../img/banners/banner-about.jpg);
   }

   // .banner__enroll

   &__enroll {
      background-image: url(../img/banners/banner-enroll.jpg);

      padding: 0;

      min-height: 50rem;
   }

   // .banner__title

   &__title {
      font-size: 3.4rem;
      font-weight: 900;
      color: white;
   }

   // .banner__title--black

   &__title--black {
      color: #000;
   }

   // .banner__subtitle

   &__subtitle {
      color: white;

      border-bottom: 1px solid wheat;
   }

   // .banner__link

   &__link {
      color: white;
      text-decoration: none;

      margin-right: 2rem;
   }

   // .banner__buttons

   &__buttons {
      margin-top: 4rem;

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   // .banner__info

   &__info {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      width: 100%;

      margin-top: 4rem;

      background-color: rgba($color: #fff, $alpha: 0.45);

      padding: 2rem 0;
   }

   // .banner__columm

   &__columm {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   // .banner__row

   &__row {
      color: #232323;

      text-align: center;
   }

   &__row:nth-child(2) {
      color: #000;
      font-weight: 800;
   }
}
