.form {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   height: 20rem;

   // .form__row

   &__row {
      display: flex;
      justify-content: space-between;
   }

   // .form__column

   &__column {
      margin-right: 1rem;

      align-items: center;
   }

   // .form__item

   &__item {
      width: 21rem;

      border: none;
      border-bottom: 1px solid #e0e0e0;

      background-color: transparent;
      outline: none;
      transition: 0.3s;

      padding: 0 0 1rem 0;

      appearance: none;
   }

   &__item::placeholder {
      color: #fff;
   }

   &__item[type="submit"] {
      background-color: #fda638;

      border-radius: 36rem;
      width: 21rem;
      height: 6rem;

      padding: 0;

      color: white;
   }

   &__item[textarea] {
      resize: none;
   }
}

@media (max-width: 563px) {
   .form {
      height: 25rem;
   }

   .form__row {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .form__item {
      margin-bottom: 1rem;
   }
}

@media (min-width: 373px) and (max-width: 767px) {
   .form__column {
      margin-right: 0;
   }
}
