.experience {
   // .experience__title

   &__title {
      text-align: center;
      color: #adff2f;
      font-size: 2.4rem;
      font-weight: 700;
   }

   @media (min-width: 767px) {
      &__title {
         font-size: 4.4rem;
      }
   }

   // .experience__subtitle

   &__subtitle {
      text-align: center;
      color: #000;
      font-size: 2.4rem;
      font-weight: 600;
   }

   @media (min-width: 767px) {
      &__subtitle {
         font-size: 4rem;
      }
   }

   // .experience__items

   &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
   }

   @media (min-width: 1024px) {
      &__items {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
      }
   }

   // .experience__item

   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      color: #fff;
   }

   @media (min-width: 1024px) {
      &__item {
         display: flex;
         flex-wrap: wrap;

         margin-right: 2rem;
      }

      &__item:last-child {
         margin-right: 0;
      }
   }

   // .experience__title--item

   &__title--item {
      font-weight: 700;
   }

   // .experience__number

   &__number {
      font-weight: 900;
   }
}
