.feedback {
   // .feedback__title

   &__title {
      font-size: 2.4rem;
      font-weight: 600;
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;
   }

   @media (min-width: 764px) {
      &__title {
         display: flex;
         flex-direction: row;
         justify-content: center;
         flex: 1 1 auto;

         font-size: 3.4rem;
      }
   }

   @media (min-width: 1024px) {
      &__title {
         font-size: 4.4rem;
      }
   }

   // .feedback__title--green

   &__title--green {
      color: greenyellow;
   }

   // .feedback__title--blue

   &__title--blue {
      color: #1eaaf1;
   }

   // .feedback__subtitle

   &__subtitle {
      font-weight: 600;

      display: flex;
      justify-content: center;

      margin-bottom: 4rem;
   }

   @media (min-width: 764px) {
      &__subtitle {
         font-size: 2.4rem;
      }
   }

   // .feedback__link

   &__link {
   }

   // .feedback__items

   &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   @media (min-width: 1024px) {
      &__items {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
      }
   }

   // .feedback__item

   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 4rem;
   }

   @media (min-width: 767px) {
      &__item {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: stretch;
      }
   }

   @media (min-width: 1023px) {
      &__item {
         display: flex;
         flex-direction: row;
         justify-content: space-between;

         width: 33%;

         opacity: 0.5;
         font-size: 1.4rem;
      }

      &__item:nth-child(2n + 2) {
         color: #000;
         opacity: 1;
         font-size: 1.6rem;
      }
   }

   // .feedback__img

   &__img {
      width: 9rem;
      height: 9rem;

      border-radius: 50%;
   }

   @media (min-width: 767px) {
      &__img {
         margin-right: 1rem;
      }
   }

   // .feedback__info

   &__info {
   }

   @media (min-width: 767px) {
      &__info {
         display: flex;
         flex-direction: column;
         flex: 1 1 auto;
      }
   }

   // .feedback__text

   &__text {
      color: rgb(23, 13, 13);
   }

   // .feedback__name

   &__name {
      margin-top: 2rem;
   }

   // .feedback__parent

   &__parent {
      color: #1eaaf1;
   }
}
