.button {
   width: 20rem;
   height: 8rem;

   border-radius: 4rem;

   background-color: #fda638;

   font-weight: 600;
   font-size: 1.5rem;
   color: white;

   // .button__about

   &__about {
      margin-top: 10rem;
   }
}
