.courses {
   // .courses__items

   &__items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      margin-top: 10rem;
   }

   // .courses__item

   &__item {
      display: flex;
      justify-content: center;

      margin-bottom: 4rem;

      height: 30rem;
      width: 60rem;
   }

   // .courses__info

   &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      width: 35rem;
   }

   // .courses__stack

   &__stack {
      width: 35rem;

      display: flex;
      justify-content: space-around;
   }

   &__stack--JS {
      border: 0.1rem solid #1eaaf1;

      padding: 0 0.5rem;
   }

   &__stack--HTML5 {
      border: 0.1rem solid #1eaaf1;

      padding: 0 0.5rem;
   }

   &__stack--CSS3 {
      border: 0.1rem solid #1eaaf1;

      padding: 0 0.5rem;
   }
}
