.description {
   color: #858585;
   font-size: 1.6rem;
   font-weight: 400;

   transform: translate(0rem, 120%);
   opacity: 1;
   transition: all 0.8s ease 0s;
}

.animation {
   transform: translate(0rem, 0rem);
   opacity: 1;
}
