.img {
   margin-right: 1rem;
   object-fit: cover;

   // .img__about

   &__about {
      width: 8rem;

      background-color: #1eaaf1;

      border-radius: 36rem;
   }

   // .img__feedback

   &__feedback {
      width: 10rem;
      height: 10rem;

      border-radius: 36rem;
   }

   // .img__teachers

   &__teachers {
      width: 10rem;
      height: 10rem;

      border-radius: 36rem;
   }

   // .img__courses

   &__courses {
      width: 25rem;

      background-color: #1eaaf1;
   }
}
