.teachers {
   // .teachers__items

   &__items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      margin-top: 10rem;
   }

   // .teachers__item

   &__item {
      display: flex;
      justify-content: space-between;
      width: 60rem;

      margin-bottom: 5rem;
   }

   // .teachers__info

   &__info {
   }

   // .teachers__name

   &__name {
   }
}
