<footer class="footer">
   <div class="footer__row">
      <section class="footer__column">
         <h2 class="footer__title">Остались вопросы?</h2>
         <div class="footer__info">
            <div class="footer__feedback">
               <img src="assets/img/social/phone.png" alt="" class="footer__img">
               <span>+7(995)-987-73-23</span>
            </div>
            <div class="footer__feedback">
               <img src="assets/img/social/email.png" alt="" class="footer__img">
               <span>kiddev@mail.ru</span>
            </div>
         </div>
      </section>
      <section class="footer__column">
         <h2 class="footer__title">Наш блог</h2>
         <div class="footer__blog">
            <img src="assets/img/banners/banner-enroll.jpg" alt="" class="footer__img-blog">
            <div class="footer__blog-info">
               <div class="footer__blog-title">Открытие школы программирования KidDev</div>
               <div class="footer__blog-date">15.07.2021</div>
            </div>
         </div>
         <div class="footer__blog">
            <img src="assets/img/banners/banner-enroll.jpg" alt="" class="footer__img-blog">
            <div class="footer__blog-info">
               <div class="footer__blog-title">Открытие школы программирования KidDev</div>
               <div class="footer__blog-date">15.07.2021</div>
            </div>
         </div>
      </section>
      <section class="footer__column">
         <h2 class="footer__title">Быстрый доступ</h2>
         <nav class="footer__navbar">
            <ul class="footer__items">
               <li class="footer__item"><a href="index.html" class="link footer__link">Главная</a></li>
               <li class="footer__item"><a href="about.html" class="link footer__link">О школе</a></li>
               <li class="footer__item"><a href="teachers.html" class="link footer__link">Преподаватели</a></li>
               <li class="footer__item"><a href="courses.html" class="link footer__link">Курсы</a></li>
               <li class="footer__item"><a href="blog.html" class="link footer__link">Блог</a></li>
               <li class="footer__item"><a href="contact.html" class="link footer__link">Контакты</a></li>
               <li class="footer__item"><a href="enroll.html" class="link footer__link">Поступить</a></li>
            </ul>
         </nav>
      </section>
      <section class="footer__column">
         <h2 class="footer__title">Подпишитесь на нас</h2>
         <div class="footer__social">
            <img src="assets/img/social/vk.png" alt="" class="footer__img-social">
            <img src="assets/img/social/instagram.png" alt="" class="footer__img-social">
            <img src="assets/img/social/facebook.png" alt="" class="footer__img-social">
            <img src="assets/img/social/twitter.png" alt="" class="footer__img-social">
         </div>
      </section>
   </div>
   <div class="footer__row">
      <div class="footer__copyright">Copyright © 2021 All rights reserved | KidDev </div>
   </div>
</footer>