<header class="header">
   <div class="container">
      <div class="header__burger">
         <div class="header__title">
            <a href="index.html" class="header__link">KidDev</a>
         </div>
         <div class="header__lines">
            <div class="header__line header__line--line1"></div>
            <div class="header__line header__line--line2"></div>
            <div class="header__line header__line--line3"></div>
            <div class="header__line header__line--line4"></div>
         </div>
      </div>
   </div>

   <div class="header__row">
      <div class="container">
         <ul class="header__links">
            <li class="header__link">
               <img src="assets/img/social/email.png" alt="" class="header__img">
               <span>kiddev@mail.ru</span>
            </li>
            <li class="header__link">
               <img src="assets/img/social/phone.png" alt="" class="header__img">
               <span>+7(995)-987-73-23</span>
            </li>
            <li class="header__link">
               <img src="assets/img/social/log-in.png" alt="" class="header__img">
               <span>
                  <a href="#" class="header__link">Войти</a>
               </span>
            </li>
         </ul>
      </div>
   </div>
   <div class="header__row header__row-show-by-click">
      <div class="container">
         <nav class="header__navbar">
            <a href="index.html" class="header__navbar-logo header__navbar-item">KidDev</a>
            <ul class="header__navbar-items">
               <li class="header__navbar-item"><a href="index.html" class="header__navbar-link">Главная</a></li>
               <li class="header__navbar-item"><a href="about.html" class="header__navbar-link">Школа</a></li>
               <li class="header__navbar-item"><a href="teachers.html" class="header__navbar-link">Преподаватели</a>
               </li>
               <li class="header__navbar-item"><a href="courses.html" class="header__navbar-link">Курсы</a></li>
               <li class="header__navbar-item"><a href="blog.html" class="header__navbar-link">Блог</a></li>
               <li class="header__navbar-item"><a href="contact.html" class="header__navbar-link">Контакты</a></li>
               <li class="header__navbar-item"><a href="enroll.html" class="header__navbar-link">Поступить</a></li>
               <li class="header__navbar-item header__navbar-item--hide"><a href=""
                     class="header__navbar-link">Войти</a></li>
            </ul>
         </nav>
      </div>
   </div>
</header>